<!DOCTYPE html>
<html>
<head>
	<title> <%= titulo %> </title>
	<% include includes/partial-head %>
</head>
<body>
<% include includes/header %>
view index node
<%= variavel %>
<% include includes/footer %>
</body>
</html>